body {
    width: 60vw;
    height: 100vh;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #9b9898;
  }

  main {
    background-color: #ffffff;
    border-radius: 8px 8px 0 0;
  }

  main hr {
      width: 95%;
  }

  header {
    margin-top: 40px;
    display: flex;
    flex-flow: column;
  }

  header div {
      display: flex;
      margin: 0 auto;
      justify-content: space-around;
  }

  header div img {
      width: 25%;
  }

  h1 {
    font-family: 'Sansita Swashed', cursive;
      font-size: 3rem;
      margin: auto;
  }

  h2 {
    font-family: 'Poppins', cursive;
    font-size: 2rem;
  }

  p {
    font-family: 'Piazzolla', cursive;
    font-size: 18px;
      margin: 20px auto;
  }



  section {
      display: flex;
      flex-flow: column;
      justify-content: center;
      align-items: center;
      margin: 48px 0;
  }

  table {
      width: 80%;
  }

  table th {
    border: 2px solid black;
  }

  table img {
      width: 30%;
      margin-left: 35%;
  }

  table td {
      max-width: 250px;
      padding: .7em;
      margin: 0;
      text-align: center;
      border: 1px solid black;
  }

  #tdBody {
      background-color: #9b9898;
  }

  #tdMain {
    background-color: #ffffff;
  }

  #tdNav {
    background-color: #1e80b5;
  }

  #tdH1 {
    font-family: 'Sansita Swashed', cursive;
    font-size: 3rem;
  }

  #tdH2 {
    font-family: 'Poppins', cursive;
    font-size: 2rem;
  }

  #tdP {
    font-family: 'Piazzolla', cursive;
    font-size: 18px;
  }

  #tdA {
    font-size: 17px;
    font-family: 'Poppins', cursive;
  }

  footer {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(30, 128, 181);;
    width: 100%;
    height: 20%;
    color: white;
    font-size: 12px;
}

footer a {
    color: white;
}

  .topnav {
    overflow: hidden;
    background-color: #1e80b5;
    border-radius: 8px 8px 0 0;
    display: flex;
    flex-flow: row;
  }
  
  .topnav a {
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: 'Poppins', cursive;
  }
  
  .topnav a:hover {
    background-color: rgb(64, 199, 223);
    color: white;
  }
  
  .topnav .icon {
    display: none;
  }
  
  @media screen and (max-width: 600px) {
      body {
          width: 100vw;
      }
    .topnav {display: flex; justify-content: center;}
    .topnav a {display: none;}
    .topnav a.icon {
      display: flex;
    }
  }
  
  @media screen and (max-width: 600px) {
      body {
          width: 100vw;
      }

      header div h1 {
          margin: auto 0;
          margin-left: 20px;
      }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }