* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100%;
    background-color: #f7f3f3;
}

main {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
    width: 65vw;
    height: auto;
    margin: 8rem auto;
    background-color: #ffffff;
    border-radius: 10px;
    font-family: "Roboto";
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0d5a5a;
    width: 100%;
    height: 20%;
    border-radius: 10px;
}


header h1 {
    color: white;
    font-size: 28px;
}

.linklist {
    width: 100%;
    margin-top: 5%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.linklist h2 {
    margin-left: 2%;
    font-size: 20px;
}

.linklist ul li {
    margin: 2% 0;
    font-size: 12px;
}

.linklist img {
    margin-top: -2%;
    margin-bottom: 2%;
    justify-content: center;
    width: 30%;
    border-radius: 10px;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

footer {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    background-color: #0d5a5a;;
    width: 100%;
    height: 20%;
    border-radius: 10px;
    color: white;
    font-size: 12px;
}

footer a {
    color: white;
}

p + p {
    font-size: smaller;
    margin: 4px 0;
}