main {
    max-width: 100vw;
    margin: 2% auto;
}
 
main header {
    width: 97%;
    margin: auto;
    align-items: center;
    display: flex;
    flex-flow: column;
    justify-content: center;
    font-family: 'Baloo Tammudu 2', cursive;
    background-color: rgb(197, 218, 217);
    border-radius: 10px;
    color: rgb(19, 16, 16);
    padding: 5px 0;
}

main header h1 {
    margin: auto;
    font-size: 24px;
}

section {
    display: grid;
    grid-template-columns: 1fr;
    font-size: 0.8rem;

}

main section .principles {
    width: 90%;
    margin: 2% auto;
    border: 1px solid black;
    border-radius: 10px;
    background-color: rgb(197, 218, 217);
}



main .principles h2 {
    margin-left: 3%;
    font-size: 18px;
    font-family: 'Epilogue', sans-serif;
}

main .principles hr {
    width: 90%;
}

main .principles h3 {
    margin-left: 3%;
    font-family: 'Roboto Mono', monospace;
}

main .principles p {
    margin-left: 3%;
    font-family: 'Roboto Mono', monospace;
}

main section .principles img {
    width: 60%;
    margin-left: 15%;
}

/* Tablet Views */
@media only screen and (min-width: 37.5rem) {
    main section {
        grid-template-columns: 1fr 1fr;
    }

    main h1 {
        font-size: 24px;
    }

    main section .principles:nth-child(3) {
        grid-column: span 2;
    }
}

/* Desktop Views */

@media only screen and (min-width: 60em) {
    main section  {
        grid-template-columns: 1fr 1fr 1fr;
    }

    main section .principles:nth-child(3) {
        grid-column: span 1;
    }
}