body {
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #28abb9;
  color: white;
}

header {
  display: flex;
  justify-content: center;
  background-color: #ee6f57;
  color: white;
}

header img {
  height: 200px;
  margin-left: -2%;
  margin-right: 2%;
}

header div {
    display: flex;
    flex-flow: column;
}

header div h1 {
  font-family: 'Sansita Swashed', cursive;
    font-size: 3rem;
}

header div p {
  font-family: 'Piazzolla', cursive;
  font-size: 18px;
}


main {
  width: 95%;
  margin: 0 auto;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

main h2 {
  font-family: 'Poppins', cursive;
  font-size: 2rem;
}

footer {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  background-color: #070d59;;
  width: 90%;
  height: 10%;
  color: white;
  font-size: 12px;
  margin: 0 auto;
}

footer a {
  color: white;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1f3c88;
}

.topnav {
  overflow: hidden;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-family: 'Poppins', cursive;
}

.topnav a:hover {
  background-color: rgb(64, 199, 223);
  color: white;
}

.topnav .icon {
  display: none;
}