@media screen and (max-width: 767px) {
    header img {
        width: 30%;
    }

    header div h1 {
        font-size: 2.2rem;
    }

    header div p {
        font-size: 16px;
    }

    .topnav a {display: none;}
  
    .topnav a.icon {
      float: right;
      display: block;
    }
  
    .topnav.responsive {position: relative;}
  
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
  
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }

    section div {
      width: 45%;
    }

    section div img {
      width: 90%;
    }
  }