@media screen and (max-width: 600px) {
    header img {
        width: 30%;
        height: 150px;
        margin: auto 0;
    }

    header div {
        margin-left: 5%;
    }
    
    header div h1 {
        font-size: 1.8rem;
    }

    header div p {
        font-size: 14px;
    }

    .topnav a:not(:first-child) {display: none;}
  
    .topnav a.icon {
      float: right;
      display: block;
    }
  
    .topnav.responsive {position: relative;}
  
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
  
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }

    #adds h3 {
      margin-left: 10%;
    }

    main #forecastSection {
      display: none;
    }

    main #heroSection .summary {
      width: 40%;
    }
    
  }