body {
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  background-color: #bbbbbb;
}

/* ADDS */

#adds {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* HEADER */
header {
  display: flex;
  justify-content: center;
  background-color: #0a043c;
  color: white;
}

header img {
  height: 200px;
  margin-left: -2%;
  margin-right: 2%;
}

header div {
    display: flex;
    flex-flow: column;
}

header div h1 {
  font-family: 'Sansita Swashed', cursive;
    font-size: 3rem;
}

header div p {
  font-family: 'Piazzolla', cursive;
  font-size: 18px;
}

/* NAVBAR */

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #03506f;
}

.topnav {
  overflow: hidden;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-family: 'Poppins', cursive;
}

.topnav a:hover {
  background-color: rgb(64, 199, 223);
  color: white;
}

.topnav .icon {
  display: none;
}

.active {
  background-color: rgb(64, 199, 223);
  color: white;
}

/* MAIN */
main {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  color: rgb(43, 40, 40);
}

main h2 {
  font-family: 'Poppins', cursive;
  font-size: 2rem;
  justify-content: center;
  text-align: center;
  margin: 1rem;
}

main hr {
  width: 100%;
  border: 2px solid black;
}

/* HERO SECTION */

main #heroSection {
  position: relative;
  margin: 2rem 0;
}

main #heroSection img {
  width: 100%;
}

main #heroSection .summary {
  position: absolute;
  top: 24%;
  left: 4%;
  background-color: #03506f;
  padding: 10px;
  border-radius: 10px;
  width: 25%;
  text-align: center;
  opacity: 0.8;
  color: white;
}

main #heroSection .summary span {
  font-weight: bold;
}

main #heroSection .summary hr {
  border: 1px solid black;
  width: 90%;
}

/* FORECAST SECTION */

main #forecastSection {
  width: 100%;
  margin: 2rem 0;
  text-align: center;
}

main #forecastSection table {
  width: 100%;
  text-align: center;
  background-color: white;
  color: black;
}

main #forecastSection table th {
  background-color: #03506f;
  color: white;
}

/* ARTICLE SECTION */

main #articleSection {
  margin: 2rem 0;
  display: flex;
  flex-flow: column;
}

main #articleSection h2 {
  text-align: center;
}

main #articleSection a {
  width: 20%;
  color: rgb(43, 40, 40);
}

main #articleSection div {
  width: 100%;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}

main #articleSection div p {
  font-size: 1rem;
  width: 45%;
}

main #articleSection div img {
  width: 45%;
}

/* CARDS DIV */

main .cards {
  width: 100%;
  margin: 2rem 0;
  display: flex;
  flex-flow: row;
  justify-content: center;
}

main .cards section {
  width: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

main .cards section div {
  margin: auto;
  text-align: center;
}

main .cards section h2 {
  font-size: 32px;
  font-family: 'Roboto', sans-serif;
}

main .cards section div h4 {
  font-size: 18px;
}

main .cards section img {
  width: 90%;
  margin: 10px auto;
}

/* CONTACT SECTION */

main #contactSection {
  width: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  margin: 2rem 0;
}

main #contactSection div {
  width: 100%;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
}

main #contactSection div img {
  width: 45%;
}

main #contactSection div div {
  display: flex;
  flex-flow: column;
  width: 45%;
}

main #contactSection div div img {
  width: 20px;
}

main #contactSection div div div {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
}

/* FOOTER */

footer {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  background-color: #0a043c;;
  width: 100%;
  height: 10%;
  color: white;
  font-size: 12px;
  margin: 0 auto;
}

footer a {
  color: white;
}